.Datatable {
  .cell {
    background-color: "[theme:themePrimary, default:#e5e5e5]";
    display: 'inline-block';
  }
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
  }
  td {
    padding: .5rem;
    border-top: 1px solid #dee2e6;
  }
}
